<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<title>NLP</title>
		<link
			href="https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Khula&family=Taviraj:ital,wght@1,200&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<header>
			<div class="logo">
				NLP
			</div>
		</header>
		<main>
			<h1>Find The Perfect Hashtag!</h1>
			<section id="form-section">
				<form class="form" onsubmit="return Hashtags.handleSubmit(event)">
					<label for="input">Enter URL</label>
					<input id="input" type="text" placeholder="Your URL" />
					<button
						type="submit"
						name="submit"
						class="button"
						value="submit"
						onclick="return Hashtags.handleSubmit(event)"
					>
						Submit
					</button>
				</form>
			</section>
			<section id="results">
				<h2 id="results-title"></h2>
				<div id="results-container">
					<div id="hashtags">
						<h3 id="hashtag-title"></h3>
						<ul id="list-container"></ul>
					</div>
					<div>
						<h3 id="sentiment-title"></h3>
						<p id="sentiment"></p>
						<p id="confidence"></p>
					</div>
				</div>
			</section>
		</main>
		<footer>
			<p id='copyright'>&copy;2020. Hashtags</p>
		</footer>
	</body>
</html>
