header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    background: #be3e53;
    border-bottom: 1px solid #f2012b;


    .logo {
        font-size: 2rem;
        font-family: 'Didact Gothic';
        padding: .5rem;
    }


}
